<p class="storytitle"><a href="/storylines/#{{ storyline.slug }}">{{ storyline.title }}</a></p>
<ul class="inline">
{% ifequal comic.sequence first %}
    <li>first</li>
    <li>previous</li>
{% else %}
    <li><a href="/comics/{{ first }}/">first</a></li>
    <li<a href="/comics/{{ prev }}/">previous</a></li>
{% endifequal %}
{% ifequal comic.sequence last %}
    <li>next</li>
    <li>last</li>
{% else %}
    <li><a href="/comics/{{ next }}/">next</a></li>
    <li><a href="/comics/{{ last }}/">last</a></li>
{% endifequal %}
</ul>
