{% extends 'main.html' %}

{% block title %}Storylines!{% endblock %}

{% block headstuff %}
<style type="text/css">
#main ul.nav {width: 200px; float:left;}
#main .tabs {width: 340px; float:right;}
</style>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $("#main").tabs();
    });
</script>
{% endblock %}

{% block sidebar %}
    <h2>Storylines</h2>
    <p>This is the storyline archive. You may also be interested in the
        <a href="/comics/">archive of comics by date</a>.</p>
{% endblock %}

{% block bodycontent %}
{% spaceless %}
{% if storyline_list %}
    <ul class="nav">
        {% for storyline in storyline_list %}
            <li><a href="#{{storyline.slug}}">{{ storyline.title }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
{% if storyline_list %}
    {% for storyline in storyline_list %}
        <div id="{{storyline.slug}}" class="tabs">
            <h3>{{storyline.title}}</h3>
            <p>{{ storyline.description}}</p>
            <ul>{% for comic in storyline.comics.public %}
                <li><a href="{{ comic.get_absolute_url }}">
                {{comic.title}}</a></li>{% endfor %}
            </ul>
        </div>
    {% endfor %}
<br clear="both">
{% else %}
        <p>There are no storylines.</p>
{% endif %}
{% endspaceless %}
{% endblock %}
